# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# App-specific
config.json
sample_data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
